# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Anchor & Solana
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn

# TypeScript
dist
.turbo

# Node.js
node_modules

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Private keypairs
keypair.json
*keypair.json
*.keypair.json
*-keypair.json
